/* Warna latar belakang seluruh halaman */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: Verdana, sans-serif;
}
.edu-qld-hand {
  font-family: "Edu QLD Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.geser-bawah {
    position: relative;
  top: 10px;
  display: inline-block;
}

/* Gaya form */
form {
  background-color: #1e1e1e;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

/* Input, textarea, dll */
input, textarea, select {
  background-color: #2a2a2a;
  color: #ffffff;
  border: 1px solid #444;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border-color: #777;
}

/* Tombol */
button:not(.btn) {
  background-color: #4CAF50;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button:hover, .btn:hover {
  background-color: #45a049;
}
